$white: #fff; // Color de texto principal
$mainSkyblue: #48C7F3; // Celeste principal
$borderSkyblue: #3a9bc7;
$darkBorderHoverColor: #2E7FAF;
$darkHoverMainSkyblue: #02417C;
$darkMainSkyblue: #0359AA;
$darkBlue: #1a4f72;