:root {
  --main-bg-color: #f2f2f2; /* Color de fondo principal */
  --dark-bg-color: #000; /* Color de fondo en modo oscuro */
  --white: #fff; /* Color de texto principal */
  --principal-skyblue: #48C7F3; /* Celeste principal */
  --dark-blue: #1a4f72;
  --border-skyblue: #3a9bc7;
  --dark-principal-skyblue:#0359AA;
  --dark-hover-principal-skyblue: #02417C;
  --dark-border-hover-color: #2E7FAF;
}


body {
  font-family: Arial, sans-serif;
  text-align: justify;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.dark {
  background-color: #000;
  color: var(--white);
}

/* ESTILOS GENERALES */

main {
  padding: 75px;
}


#indexMain {
  display: flex;
  justify-content: center;
}

article, aside {
  flex-basis: 50%;
  padding: 20px;
  min-width: 300px;
}

article {
  font-size: medium;
  text-align: justify;
  line-height: 1.5;
}

/* Estilos del formulario*/

#flex-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  border: 14px solid var(--border-skyblue);
  max-width: 1000px;
  margin: 50px auto;
} 

.form {
  width: 100%;
  max-width: 500px;
  text-align: center;
  padding: 30px;
  order: 5;
}

.form__input,
.form__textarea {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border: none;
  border-bottom: 3px solid var(--principal-skyblue);
  background: transparent;
  color: var(--dark-blue);
}

.form__input:focus,
.form__textarea:focus {
  outline: none;
  border-bottom: 3px solid var(--border-skyblue);
  background: var(--white);
}

body.dark .form__input:focus,
.form__textarea:focus {
  background: var(--dark-blue);
  color: var(--white);
}

.form__textarea {
  min-height: 140px;
  resize: vertical;
}

button {
  background-color:var(--principal-skyblue);
  border: 2px solidvar(--border-skyblue);
  color: var(--white);
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color:var(--border-skyblue);
  border: 2px solidvar(--principal-skyblue);
}

@media (max-width: 600px) {
  #flex-container {
    padding: 10px;
    border-width: 8px;
  }

  .form {
    padding: 20px;
  }
}

/* Estilos específicos para el contenido */
h2 {
  color: var(--principal-skyblue);
  font-size: 24px;
  margin-top: 1px;
}

p {
  margin-bottom: 20px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ul {
  list-style: disc;
  margin-left: 30px;
}

img {
  max-width: 100%;
  display: block;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Modo Oscuro para los elementos */
body.dark header, body.dark footer {
  background-color: var(--dark-principal-skyblue);
  border-bottom-color: var(--border-skyblue);
  color: var(--white);
}

body.dark header:hover, body.dark footer:hover {
  background-color: var(--dark-hover-principal-skyblue);
}

body.dark header:hover {
  border-bottom-color: var(--dark-hover-color); /* Usar la variable para el color de borde en hover */
}

body.dark footer:hover {
  border-top-color: var(--dark-hover-color); /* Usar la variable para el color de borde en hover */
}

body.dark header nav a, body.dark footer #redesSociales a, body.dark #aboutMeMenu a {
  color: var(--white);
  border: 2px solid var(--white);
}

body.dark header nav a:hover, body.dark footer #redesSociales a:hover, body.dark #aboutMeMenu a:hover {
  background-color: var(--dark-principal-skyblue);
  color: var(--principal-skyblue);
  border: 2px solid var(--principal-skyblue);
}

body.dark #aboutMeMenu {
  background-color: var(--dark-hover-principal-skyblue);
  border-color: var(--principal-skyblue);
}

body.dark #aboutMeMenu:hover {
  background-color: var(--dark-principal-skyblue);
  border-color: var(--border-skyblue);
}

body.dark #aboutMeMenu h2 {
  color: var(--white);
}

body.dark #aboutMeMenu li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

body.dark #aboutMeMenu a {
  color: var(--white);
}

body.dark #aboutMeMenu a:hover {
  color: var(--border-skyblue);
}

/* GALLERY */
#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

.image-gallery img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.galleryImage {
  transition: transform 0.3s; /* Agregar una transición suave para el cambio */
}

.galleryImage:hover {
  transform: scale(1.5); /* Escala la imagen al 120% de su tamaño original */
}

#indexMain article img:hover {
  transform: scale(1.05);
}

/* Media query para dispositivos con un ancho máximo de 768px (típicamente móviles) */
@media (max-width: 768px) {
  #indexMain {
    flex-direction: column;
  }

  article, aside {
    width: 100%;
    padding: 10px;
  }
}